.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem 2rem;
  color: rgb(17, 17, 17);
  border-bottom: 1px solid #e0e0e0;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.navbar-links a {
  color: rgb(18, 18, 18);
  text-decoration: none;
  transition: 0.3s;
}

.navbar-links a:hover {
  color: #00bcd4;
}

.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}


@media (max-width: 768px) {
  .navbar-links {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #ffffff;
    flex-direction: column;
    width: 200px;
    padding: 1rem;
    display: none;
  }

  .navbar-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
